.head{
    text-align: center;
    background-image: url(assets/media/photos/mountain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    padding-top: 10px;
    color: blue;
    
}


.footer-last{
    text-align: center;
    margin-top: 30px;
}

p{
    text-align: justify;
}

label{
    display: block;
    margin-top: 15px;
}

fieldset{
    margin-top: 10px;
    width: 200px;
    
}

    